* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    background: rgb(176,247,145);
    background: linear-gradient(90deg, rgba(176,247,145,1) 0%, rgba(186,196,0,1) 38%);
    display: flex;
    justify-content: center;
    align-items: center;
}